<%= render 'header' %>
<ol class="breadcrumb">
  <li><a href=<%="/companies/" << current_company.id.to_s%>>Home</a></li>
  <li><a href=<%="/companies/" << current_company.id.to_s << "/exames"%>>Avaliações</a></li>
  <li class="active">Perguntas</li>
</ol>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Perguntas</h1> 
				<table> 
					<thead> 
						<tr> 
							<th>Nome</th>
							<th>Média</th>
							<th></th> 
						</tr> 
					</thead> 
					<tbody> 
						<% @current_exame.questions.each do |question| %>
						<tr>
							<td><%= question.nome %></td> <!-- Falta fazer o Show de Question -->
							<td><%= media_question(question) %></td>
							<td><%= link_to "Show", '/companies/' << current_company.id.to_s << '/exames/' << question.exame_id.to_s << '/questions/' << question.id %>
							<td><%= link_to "Excluir", company_exame_question_path(current_company.id,question.exame_id,question.id), method: :delete %></td>
							<!--<td><= link_to "Excluir", '/companies/' << current_company.id.to_s << '/exames/' << question.exame_id.to_s << '/questions/' << question.id, method: :delete %></td> -->
							<!--<td> link_to "Excluir", company_exame_question_path(question), method: :delete %></td>-->
						</tr> 
						<%end%>
						<tr>
							<td><%= link_to "Nova Pergunta", new_company_exame_question_path%></td>
						</tr>
					</tbody> 
				</table>
			</div>
		</div>
	</div>
</div>
