<% unless logged_in? %>
	<% content_for :btn do %>
	    <%= link_to '<button type="button" class="btn btn-default" id="btn_login">Login</button>'.html_safe, sign_in_login_path %>
	<% end %>
<%end%>

<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<%= form_for @user, class: 'form-horizontal' do |u| %>
					<% if @user.errors.any? %>
					<div id="error_explanation">
						<div class="alert-error">
							O formulário contém <%= pluralize(@user.errors.count, "erro") %>
						</div>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
					<% end %>
				
					<div class="field">
						<%= u.label :nome %>
						<%= u.text_field :nome, :placeholder => "Nome", class: 'form-control' %>
					</div>
					<div class="field">
						<%= u.label :email %>
						<%= u.email_field :email,  :placeholder => "Email", class: 'form-control' %>
					</div>
					<div class="field">
						<%= u.label :login %>
						<%= u.text_field :login, :placeholder => "Login", class: 'form-control' %>
					</div>
					<div class="field">
						<%= u.label :password %>
						<%= u.password_field :password, :placeholder => "Password", class: 'form-control' %>
					</div>
					<div class="field">
						<%= u.label :password_confirmation %>
						<%= u.password_field :password_confirmation,  :placeholder => "Password Confirmation", class: 'form-control' %>
					</div>
					<div class="actions">
						<br>
						<%= u.submit "Cadastrar", class: 'btn' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


