<%= render 'header' %>
<ol class="breadcrumb">
  <li><a href=<%="/users/" << current_user.id.to_s%>>Home</a></li>
  <li><a href=<%="/users/" << current_user.id.to_s << "/empresas"%>>Empresas</a></li>
  <li><a href="javascript:window.history.go(-1)">Avaliações</a></li>
  <li class="active">Perguntas</li>
</ol>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
			    <h1 class="page-header">Perguntas</h1>
                <table> 
					<thead> 
						<tr> 
							<th>Nome</th>
							<th>Média</th>
							<th></th> 
						</tr> 
					</thead> 
					<tbody> 
						<% @questions.each do |question| %> 
						<tr>
							<td><%= question.nome  %></td>
							<td><%= media_question(question)%></td>
							<td><%= link_to "Show", user_reviews_path(current_user.id, question.id)%></td>
						</tr> 
						<%end%> 
					</tbody> 
				</table> 			    
			 </div>
	    </div>
	</div>
</div>