<%= render 'header' %>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="page-header">Perfil de <%= @user.nome %> </h1>
                Email:<%= @user.email %>
                Login:<%= @user.login %> 
                <% if current_user == @user %>
                	<ul>
                   		<li><%= link_to "Edit", edit_user_path(current_user) %></li>
                   		<li><%= link_to "Delete", @user, method: :delete %></li>
                   	</ul>
                <% end %>
            </div>
        </div>
    </div>
</div>
