<% content_for :btn do %>
    <% if logged_in?%>
        <%= link_to '<button type="button" class="btn btn-default" title="My Profile" id="btn_prof"><i class="fa fa-user" aria-hidden="true"></i></button>'.html_safe, current_user %>
        <%= link_to '<button type="button" class="btn btn-default" id="btn_login">Sign Out</button>'.html_safe, sign_out_path, method: "delete" %>
    <%elsif logged_in_company? %>
        <%= link_to '<button type="button" class="btn btn-default" title="My Profile" id="btn_prof"><i class="fa fa-industry" aria-hidden="true"></i></button>'.html_safe, current_company %>
        <%= link_to '<button type="button" class="btn btn-default" id="btn_signout">Sign Out</button>'.html_safe, sign_out_company_path, method: "delete" %>   
    <%else%>
        <%= link_to '<button type="button" class="btn btn-default" id="btn_login">Login</button>'.html_safe, sign_in_login_path %>
    <%end%>
<%end%>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12"><br>
                <h1 class="page-header">Status Service</h1>
                <h2><small>Este é o site para avaliar e ter seus serviços avaliados</small></h2>
            </div>
        </div>
    </div>
</div>