<% content_for :btn do %>
    <% if logged_in?%>
        <%= link_to '<button type="button" class="btn btn-default" title="My Profile" id="btn_prof"><i class="fa fa-user" aria-hidden="true"></i></button>'.html_safe, current_user %>
        <%= link_to '<button type="button" class="btn btn-default" id="btn_login">Sign Out</button>'.html_safe, sign_out_path, method: "delete" %>
    <%elsif logged_in_company? %>
        <%= link_to '<button type="button" class="btn btn-default" title="My Profile" id="btn_prof"><i class="fa fa-industry" aria-hidden="true"></i></button>'.html_safe, current_company %>
        <%= link_to '<button type="button" class="btn btn-default" id="btn_signout">Sign Out</button>'.html_safe, sign_out_company_path, method: "delete" %>   
    <%else%>
        <%= link_to '<button type="button" class="btn btn-default" id="btn_login">Login</button>'.html_safe, sign_in_login_path %>
    <%end%>
<%end%>
<% content_for :btnscroll do%>
    <ul class="nav navbar-nav">
        <li><a class="page-scroll" href="#about">Sobre</a></li>
        <li><a class="page-scroll" href="#team">Time</a></li>
    </ul>
<%end%>
<body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="50">

<!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->

<!-- Section 1 -->
<section id="about" class="about-section">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Sobre o serviço</h1>
                    <p>Nosso sistema tem como foco ser uma ferramenta online de avaliações de serviços empresariais.</p>
                    <p>Partimos do principio que o feedback dos clientes é um aspecto muito importante para que as empresas possam melhorar seus serviços, obter uma maior retenção dos seus cliente e consequentemente um aumento nos lucros.</p>
                    <p>Essa ferramenta permite que usuários e empresas colaborem entre si de forma que o objetivo final seja sempre o melhor para ambas as partes.</p>
                    <p>Nesse ambiente você, como empresa, poderá cadastrar perguntas referentes a seus serviços e/ou produtos e com base nas respostas dos usuários, será capaz de mensurar a satisfação dos seus clientes.</p>
                    <p>Já como usuário, você poderá usar o ambiente para avaliar empresas que tenham perguntas cadastradas no sistema e que o usuário tenha adquirido e/ou experimentado algum serviço e/produto.</p>
            </div>
        </div>
    </div>
</section>

<section id="team" class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Os WildCats</h1>
                <p>Nosso time surgiu por afinidade entre as mentes criativas e conflitantes dos integrantes, onde por meior de tantas conversas chegamos a incríveis resultados, tendo um desfalque no inicio de 2016 onde perdemos um dos menmbros para a Argentina (Nosso principal administrasdor), time composto por:</p>
                <center>
                <ul class="list-inline">
                    <li class="list-group-item">
                        <a href="https://www.facebook.com/augusto.lima.1213?fref=ts" target="_blank">
                            <div id="augusto">
                                <img src="/assets/augusto.jpg" class="img-rounded" whidth="200px" height="200px"/>
                                <h4>Augusto Lima</h4>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://www.facebook.com/chmelo1" target="_blank">
                            <div id="carlos">
                                <img src="/assets/carlos.jpg" class="img-rounded" whidth="200px" height="200px"/>
                                <h4>Carlos Melo</h4>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://www.facebook.com/profile.php?id=100002562940565&fref=ts" target="_blank">
                            <div id="pedro">
                                <img src="/assets/pedro.jpg" class="img-rounded" whidth="200px" height="200px"/>
                                <h4>Pedro Neto</h4>
                            </div>
                        </a>
                    </li>
                </ul>
                </center>
            </div>
        </div>
    </div>
</section>

</body>