<div class="container">
<%= form_for @company do |u| %>
	<% if @company.errors.any? %>
	<div id="error_explanation">
		<div class="alert-error">
			O formulário contém <%= pluralize(@company.errors.count, "erro") %>
		</div>
		<ul>
			<% @company.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= u.label :cnpj %>
		<%= u.text_field :cnpj,  :placeholder => "CNPJ", class: 'form-control' %>
	</div>
	<div class="field">
		<%= u.label :nome %>
		<%= u.text_field :nome, :placeholder => "Nome", class: 'form-control' %>
	</div>
	<div class="field">
		<%= u.label :password %>
		<%= u.password_field :password,  :placeholder => "Password", class: 'form-control' %>
	</div>
	<div class="field">
		<%= u.label :password_confirmation %>
		<%= u.password_field :password_confirmation, :placeholder => "Password Confirmation", class: 'form-control' %>
	</div>
	<div class="actions">
		<br>
		<%= u.submit "Cadastrar", class: 'btn' %>
	</div>
<% end %>
</div>