
<div class="col-sm-2">
    
    <% if current_company == @company %>
        <div class="btn-group-vertical" role="group" aria-label="..." id='menu_company'>
            <center>
                <%= link_to '<button type="button" class="btn btn-primary" id="btn_Home">Home</button>'.html_safe,root_path %>
                <%= link_to '<button type="button" class="btn btn-primary" id="btn_Avalia">Avaliações</button>'.html_safe,root_path %>
                <%= link_to '<button type="button" class="btn btn-primary" id="btn_Edit">Edit</button>'.html_safe, edit_company_path(current_company) %>
                <%= link_to '<button type="button" class="btn btn-primary" id="btn_Delete">Delete</button>'.html_safe, @company, method: :delete %>
            </center>
        </div>
    <% end %>
</div>

    <%= render 'header' %>
    <!--<h3>Perfil de <%= @company.nome %> </h3>-->
    CNPJ:<%= @company.cnpj %>

