<div class="well well-lg" id="box_login">
	<% if flash[:error] %> <!-- Apresenta mensagem de erro  -->
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong><%= flash[:error] %></strong>
	</div>
	<% end %>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default" onclick="btn_(this);" id="btn_user" disabled><font color=white>User</font></button>
		<button type="button" class="btn btn-default"onclick="btn_(this);" id="btn_company"><font color=white>Company</font></button>
		<!-- <%= link_to '<button type="button" class="btn btn-default" onclick="mostrar_abas(this);" id="btn_user2">User</button>'.html_safe, sign_in_path %> -->
		<!--<%= link_to '<button type="button" class="btn btn-default" id="btn_company">Company</button>'.html_safe, sign_in_company_path%> -->
	</div>
	
<!-- Aba de usuario -->	
	<div id="div_aba1" style="display;">
		<div class="well well-sm" id="div_user">
			<%= form_for :session, url: sign_in_path do |f| %>
			<div class="field">
				<br>
				<div class="input-group margin-bottom-sm">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
				    <%= f.text_field :login, :placeholder => 'LOGIN' ,class: 'form-control' %> 
				</div>
			</div> 
			<div class="field"> 
			  <br>
		      <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
				  <%= f.password_field :password, autocomplete: "off",:placeholder => 'PASSWORD', class: 'form-control' %> 
			  </div>
			</div>
			<div class="actions">
				<br>
				<%= f.submit "Log in", class: 'btn' %> 
			</div> 
	
			<p>New user? <a href='/users/new' id='link_user'>Sign up now!</a></p> 
			<% end %>
		</div>
	</div>
<!-- Aba de compania -->
	<div id="div_aba2" style="display:none;">
		<div class="well well-sm" id="div_company">
			<%= form_for :session, url: sign_in_company_path do |f| %>
			<div class="field">
			  <br> 
			  <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
			      <%= f.text_field :cnpj, :placeholder => 'CNPJ' ,class: 'form-control' %> 
			   </div>
			</div> 
			<div class="field"> 
		      <br>
		      <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
				  <%= f.password_field :password, autocomplete: "off",:placeholder => 'PASSWORD', class: 'form-control' %> 
			  </div>
			</div> 
				<div class="actions">
					<br> 
					<%= f.submit "Log in", class: 'btn' %> 
				</div> 
	
				<p>New company?<a href='/companies/new' id='link_company'>Sign up now!</a></p> 
			<% end %>
		</div>
	</div>


</div>