<%= render 'header' %>
<ol class="breadcrumb">
  <li><a href=<%="/companies/" << current_company.id.to_s%>>Home</a></li>
  <li class="active">Avaliações</li>
</ol>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Avaliações</h1> 
				<table> 
					<thead> 
						<tr> 
							<th>Nome</th>
							<th>Média</th>
							<th></th> 
						</tr> 
					</thead> 
					<tbody> 
						<% current_company.exames.each do |exame| %> 
						<tr> 
							<td><%= exame.nome %></td> <!-- subustituir company_id por current_company.id -->
							<!-- Faço a interpolação das strings embaixo para poder acessar a rota -->
							<td><%= media_exame(exame) %></td>
							<td><%= link_to "Show", company_exame_questions_path(exame.company_id,exame.id) %></td>
							<!--<td><= link_to "Show", '/companies/' << current_company.id.to_s << '/exames/' << exame.id.to_s %>-->
							<!-- <td>< link_to "Excluir", '/companies/' << current_company.id.to_s << '/exames/' << exame.id.to_s, method: :delete %></td>-->
							<td><%= link_to "Excluir", company_exame_path(exame.company_id,exame.id), method: :delete %></td>
						</tr> 
						<%end%>
						<tr>
							<td><%= link_to "Nova Avaliação", new_company_exame_path%></td>
						</tr>
					</tbody> 
				</table>
				<hr>
				<table> 
					<thead> 
						<tr> 
							<th>Melhor Avaliada</th>
							<th></th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<td><%= status_exame.max_by{|k,v| v}[0]%></td>
						</tr>	
					</tbody> 
				</table>
				<table> 
					<thead> 
						<tr> 
							<th>Pior Avaliada</th>
							<th></th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<td><%= status_exame.min_by{|k,v| v}[0]%></td>
						</tr>	
					</tbody> 
				</table>
			</div>
		</div>
	</div>
</div>
