<ul>
	<li><%= link_to "Home", root_path %></li> 
</ul>
<%= form_for :session, url: sign_in_company_path do |f| %>
	<div class="field">
		<%= f.label :cnpj %><br /> 
		<%= f.text_field :cnpj %> 
	</div> 

	<div class="field"> 
		<%= f.label :password %><br /> 
		<%= f.password_field :password, autocomplete: "off" %> 
	</div> 
	<div class="actions"> 
		<%= f.submit "Log in" %> 
	</div> 

	<p>New company? <%= link_to "Sign up now!", new_company_path %></p> 
<% end %>
