<!DOCTYPE html>
<html>
<head>
  
  <link rel="shortcut icon" href="/assets/icon">
  <title>StatusService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="navbar-header">
    	<%= yield :btntoggle %>
        <!--<%=image_tag("s-s.png", alt: "Neko Icon", :class=>'icon') %>-->
        <!--<img src="/assets/s-s"  id="icon" align="left"/>-->
        <%= link_to '<font id="title" class="navbar-brand">StatusService</font>'.html_safe, root_path %>
      </div>
        <%= yield :btnscroll %>
      <div class='btn_top'><%= yield :btn %></div>
    </nav>
    <%= yield %>
    
    
  </div> 
  
</body>
</html>
